<h1>Hello <%= params['name'] %></h1>
<p>Welcome to Sinatra, this is gonna be fun!</p>
<ul>
  <li>Your name is: <%= params["name"] %></li>
  <li>Your email is: <%= params["mail"] %></li>
  <li>Fun Fact: <%= params["fun"] %></li>
</ul>
